<section class="main">
  <div class="main-cover">
    <p class="main-title">初心者になる</p>
  </div>
</section>
<section class="about">
  <p class="abel about-title">CODE A to B</p>
  <p class="about-description">プログラミング素人を<span>初心者</span>にするサービスです。</p>
</section>

<section class="recommend clearfix">
  <div class="recommend-left">
    <div class="recommend-image">
      <div class="recommend-image-cover"></div>
    </div>
  </div>
  <div class="recommend-right">
    <p class="recommend-title">このような方にオススメ</p>
    <ul>
      <li>参考書を購入して学習して見たものの１ページ目から訳が分からず挫折してしまった</li>
      <li>これからプログラミングスクールに通いたいが、無知のままでは不安</li>
      <li>プログラミングを始めたいが何をしたら良いのかわからない</li>
    </ul>
  </div>
</section>

<section class="chara">
  <p class="chara-title">特徴</p>
  <p class="chara-description"><span class="chara-description-title abel">CODE A to B </span>は今までにない、プログラミング素人の <span class="chara-description-orange">1歩目</span> を支えるためのサービスです。<br><br><br>
  巷の参考書でプログラミング素人に向けて書かれたものは非常に少なく、難易度の高いものが多いので1歩も進めず挫折してしまう方がとても多いようです。<br>
  CODE A to B はプログラミングスキルを身に付けたい方の学習の <span>1歩目</span> として最適なカリキュラムを組んでいます。<br><br><br>
  しかし、注意していただきたいことがあります、<br>
  本サービスを受講してもプロレベルになることはできないというところです。<br><br>
  プログラミング学習において大切なことは1歩進むことです。<br>
  その1歩目を越えれば、勉強の仕方も自然とわかってきます。<br><br>
  スムーズな学習の1歩目を一緒に歩みましょう。
  </p>
</section>

<section class="curriculum">
  <h3 class="curriculum-title">学べること</h3>
  <div class="curriculum-ios-area clearfix">
    <%= image_tag "/image/f_f_business_31_s512_f_business_31_0bg.png", class:"curriculum-ios-image" %>
    <div class="curriculum-ios-text">
      <h4 class="curriculum-ios-title">iOSアプリ開発</h4>
      <p class="curriculum-ios-description">iOSアプリとは、iPhone専用のアプリです。iOSアプリ開発を通して、プログラミングの基本的な流れを学ぶことができます</p>
    </div>
  </div>
  <div class="curriculum-swift-area clearfix">
    <%= image_tag "/image/swiftlogo.png", class:"curriculum-swift-image" %>
    <div class="curriculum-swift-text">
      <h4 class="curriculum-swift-title">Swift</h4>
      <p class="curriculum-swift-description">iOSアプリ開発を中心に利用される人気のプログラミング言語。このSwiftの基本的な使用方法を学習することができます。</p>
    </div>
  </div>
</section>
